<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"50px","bottom":"50px"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:50px;padding-bottom:50px">
    <!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"20px"}}}} /-->

    <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"1.5rem"}}},"fontSize":"large"} /-->

    <!-- wp:post-content /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->